#search_menu {
    z-index: 10;
    position: absolute;
    top: 301px;
    left: 664px;
}

#memory_menu {
    display: flex;
    z-index: 10;
    position: absolute;
    top: 624px;
    left: 24px;
}

#insert_menu {
    display: flex;
    width: 320px;
}

#memory_menu, input {
    width: 126px;
}

/* #memory_menu, button {
    width: 64px;
} */

#cache_menu {
    z-index: 10;
    position: absolute;
    width: 32px;
    top: 238px;
    left: 664px;
}

.upper_menu {
    display: flex;
}

.upper_menu input {
    width: 126px;
}

#clean_reset_checkbox {
    width: 13px;
}