body {
    background-color:rgb(15, 15, 15);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

#canvas {
    margin-left: 16.5%;
    width: 67%;
    background-color: black;
}

.settings {
    display: flex;
    padding-top: 5px;
    justify-content: center;
    font-size: 28px;
}

.settings input, button {
    font-size: 24px;
    max-width: 80px;
}

.times {
    display: flex;
    justify-content: center;
    padding-top: 5px;
    font-size: 28px;
}