body {
    background-color:rgb(15, 15, 15);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

#canvas {
    margin-left: 16.5%;
    width: 67%;
    background-color: black;
}

.settings {
    display: flex;
    margin-left: 16.5%;
    width: 67%;
    padding-top: 5px;
    font-size: 28px;
}

.settings input, button {
    font-size: 24px;
    max-width: 80px;
}

select {
    font-size: 24px;
}

.times {
    margin-left: 16.5%;
    width: 67%;
    padding-top: 5px;
    font-size: 28px;
}

#description {
    margin-left: 16px;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid rgb(30, 30, 30);
    margin-left: 10px;
    margin-right: 10px;
}